Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-use-after-move,
  -clang-analyzer-cplusplus.Move,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-avoid-c-arrays,
  -modernize-use-designated-initializers,
  -performance-enum-size,
  -performance-unnecessary-copy-initialization,
  -readability-math-missing-parentheses,
  -readability-uppercase-literal-suffix,
  -readability-static-accessed-through-instance,
  -cppcoreguidelines-special-member-functions,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|apps|examples|tests|benchmarks|tools)/.*'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
