root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,hpp,c,h}]
indent_style = space
indent_size = 4

[*.{cmake,txt,yml,yaml,md}]
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf

[Makefile]
indent_style = tab
